.App {
  text-align: center;
}

.App-header {
  background-color: black;
  color: white;
  padding: 20px 40px;
  /* Consistent padding with other elements */
  font-size: 24px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* Adjust width to consider padding */
  z-index: 1;
  border-bottom: 2px solid #fff;
  text-align: left;
  box-sizing: border-box;
  /* Ensure padding is inside the width */
}

.App-main {
  margin-top: 60px;
  /* Add space to accommodate the fixed header */
  padding: 20px;
}

.App-container {
  padding: 0px 20px;
  /* Consistent left padding */
  text-align: left;
  /* Ensure text alignment to the left */
  width: 100%;
  /* Ensure container spans the width */
}

.App-main h2 {
  margin-bottom: 20px;
  /* Margin between title and textarea */
}

.App-textarea {
  width: calc(100% - 60px);
  /* Adjust to consider container padding */
  height: 100px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  /* Margin between textarea and button */
  border-radius: 8px;
  /* Add curved edges */
  border: 1px solid #ccc;
  /* Add a border for better visibility */
}

.App-button {
  background-color: lightgrey;
  /* Light grey color for the button */
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.App-button:hover {
  background-color: grey;
  /* Darker shade of grey on hover */
}